<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Volleyrecords</ion-title>
    <h1>Review</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <iframe src="{{url}}" title="Volleyball Volleyrecords"></iframe>
  <ion-button (click)="deleteVid()">Löschen</ion-button>

  <ion-list>
    <ion-item>
      <ion-input
        label="Spiel Notizen"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter your Notes here"
        [(ngModel)]="notes"
      >
      </ion-input>
      <ion-button (click)="saveNotes()">Sichern</ion-button>
    </ion-item>
  </ion-list>
  {{videoName}}
  <p>
    Wenn das Video {{videoName}} nicht angezeigt werden kann kannst du es hier
    unter:
    <a href="{{url}}">{{url}}</a> öffnen
  </p>
</ion-content>
